<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Saved Data:</h3>
    <pre><%= data %></pre>
    <a href="/"><button>Back to Main Page</button></a>
  </body>
</html>
